.back {
  padding: 3rem;
}
.title {
  font-style: italic;
}
.description {
  font-style: italic;
}

.card {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 700px) {
  .back {
    padding: 4rem 0.5rem;
  }
}
