.container {
  font-size: 0.8rem;
  /* line-height: 1.6; */
  color: #f4f4f4;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 38rem;
}
.container a {
  color: rgb(89, 182, 182);
}
.image {
  max-width: 75%;
  border-radius: 1rem;
  height: 20rem;
  object-fit: contain;
}

h1 {
  color: #f4f4f4;
}

.photoContainer {
  max-width: 38rem;
  display: flex;
  justify-content: start;
  margin: 0.5rem 0 2rem 0;
}
