.container {
  font-size: 0.9rem;
  /* line-height: 1.6; */
  color: #f4f4f4;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 800px;
}
.container a {
  color: rgb(89, 182, 182);
}

h1 {
  color: #f4f4f4;
}

.photoContainer {
  margin-bottom: 1rem;
  text-align: right;
  font-size: 1rem;
}
