.photo {
  height: 70vh;
  max-width: 800px;
}
p {
  font-size: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 4.5rem;
  }
  .photo {
    height: 60vh;
  }
}
