.sidebarMain {
  max-width: 900px;
  margin: 20px 20px;
  width: 30 px;
  position: fixed;
  z-index: 1;
  overflow: auto;
  text-align: right;
}

.sidebarMain h1 {
  font-family: "Montserrat", sans-serif;
}

nav a {
  display: block;
  color: #f4f4f4;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
  background: none;
  color: #efff0f;
  text-decoration: none;
}
.active {
  color: #efff0f;
}

.hamburger {
  margin: 0;
  font-size: 30px;
  color: #f4f4f4;
  display: none;
  width: 30px;
  float: left;
  padding: 2rem 1rem;
}
.toggle {
  display: none;
}
.logo {
  border-radius: 50%;
}

.icons {
  display: inline-flex;
}
@media screen and (max-width: 700px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .sidebarMain {
    text-align: center;
    width: 100%;
    display: none;
    display: block;
    margin: 0;
    line-height: 0.8;
    background: #222;
    width: 100%;
    height: 100vh;
  }

  a:hover {
    color: #48ff00;
  }
  nav a {
    display: block;
    color: #f4f4f4;
    padding: 1.2rem 0;
    font-size: 3.4rem;
    text-decoration: none;
  }
}
